# Dependências
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vários
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backend específico
cache.json
*.log

# Frontend específico
.vite/
